<div>
    <h4 class="text-primary pl-4 pt-2">Grand Child Component</h4>
    <br />
    <p>This is a meaage - @MessageForGrandChild</p>
    <p>This is cascaded meaage - @CascadedValueFromParent</p>
    <p>Lucky Number - @LuckNbr</p>
</div>

@code {
    [Parameter]
    public string MessageForGrandChild { get; set; }

    [CascadingParameter(Name ="A")]
    public string CascadedValueFromParent { get; set; }
    [CascadingParameter(Name = "B")]
    public int LuckNbr { get; set; }

}
